---
# --------------------------------------
# Includes
# --------------------------------------
include:
  - component: $COMPOSANTS_MOYENS_DEV_URL/maven/full-ci-java-standard@main


# --------------------------------------
# Configuration
# --------------------------------------
default:
  # Runners
  tags:
    - 'for:application-project'
    - 'host:restricted-container'
    - 'net:soca4-dev'
...