include:
  - project: $PROJECT_TEMPLATES_GITLABCI_PATH
    ref: develop
    file: '.gitlab-ci-java-basic.yml'

# --------------------------------------
# Variables
# --------------------------------------
variables:
  # Docker
  DOCKER_IMAGE: $DOCKER_URL/maven:3.9.7-eclipse-temurin-21
  SECURITY_MONITORING: 'true'

# --------------------------------------
# Tags
# --------------------------------------
default:
  tags:
    - 'for:application-project'
    - 'host:restricted-container'
    - 'net:soca4-dev'

