---
# --------------------------------------
# Includes
# --------------------------------------
include:
  - component: $COMPOSANTS_MOYENS_DEV_URL/maven/full-ci-java-standard@main


# --------------------------------------
# Variables
# --------------------------------------
variables:
#  MAVEN_BUILD_DOCKER_IMAGE: $DOCKER_URL/ch/ge/cti/build/ubi-jdk-maven-node:U9.6-20250609_104313-J21-M3.9.9-N20.19.3
  MAVEN_CHECK_DEPENDENCIES_ENABLED: 'false'
#  SONARQUBE_QUALITYGATE_WAIT: 'true'
#  SECURITY_MONITORING: 'true'


# --------------------------------------
# Configuration
# --------------------------------------
default:
  # Runners
  tags:
    - 'for:application-project'
    - 'host:restricted-container'
    - 'net:soca4-dev'


# --------------------------------------
# Jobs
# --------------------------------------
# Règles pour la release : teste si on peut faire la release ou pas
.maven_rules_release:
  rules:
    # jamais lors d'une exécution planifiée
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    # jamais sur une merge request
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never
    # jamais sur un tag
    - if: '$CI_COMMIT_TAG'
      when: never
    # jamais si branche non protégée ou si la branche ne correspond pas aux noms de branches autorisés
    - if: '$CI_COMMIT_REF_NAME !~ $RELEASE_BRANCH'
      when: never
...