<configuration>

  <!-- Console appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%date{HH:mm:ss} [%.12X{threadid}] %-5level  %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
  </appender>

  <!-- Root logger -->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
